<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular language for Data Science
+ List of common libraries used in Data Science
+ List of Data Science Tools table
+ List of examples for simple arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
    
1. Python
2. SQL
3. R
4. Java
5. Julia
6. Scala
7. JavaScript
8. C++

Some of the commonly used libraries by Data Scientist include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|-----|
|MySQL|
|PixieDust|
|Github|
|KubeFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mohd Afiq Lukhman Bin Mohd Fauzi

#